@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.article-body,
.article-comments{
    @include card;
}

.article-body h2,
.article-comments h3{
    color: $primary;
}

.article-comments{
    text-align: start;
}

.comments{
    padding-bottom: $sml;
}

.body-comment{
    display: flex;
    flex-direction: column;
}

.send-comment{
    color: $secondary;
    background-color: $primary;
    border: none;
    cursor: pointer;
}

.send-comment:hover{
    box-shadow: $light-shadow;
}

.email-comment input:focus{
    outline: none !important;
    border:1px solid $primary;
    box-shadow: $light-shadow;
}

textarea:focus{
    outline: none !important;
    border:1px solid $primary;
    box-shadow: $light-shadow;
}