@import '../utils/variables.scss';

.article-card{
    margin-top: $big;
    padding: $sml;
    width: 16rem;
    background-color: $item-bg;
    border-radius: 5px;
    box-shadow: $shadow-card;
}

.article-card a{
    color: $primary;
}