@import '../utils/variables.scss';
@import '../utils/mixins.scss';

button:hover{
    cursor: pointer;
}

.articles-container{
    @include card-container;
}

.pagination{
    @include flex-evenly;
    align-items: center;
    width: 10rem;
    height: $big;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.current{
    color: $primary;
}

.pagination__button{
    color: $secondary;
    background-color: $primary;
    border: none;
    width: $big;
    height: 100%;
}