@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.product-page{
    padding-bottom: 2rem;
}

.product-detail{
    @include card;
    align-items: center;
}

.product-detail img{
    width: 20%;
    border-radius: 25px;
    padding: $med;
}