@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.product-card{
    @include card;
    align-items: center;
    flex-direction: row;
    width: 90%;
}

.product-card img{
    width: 20%;
    border-radius: 5px;
}

.product-data{
    width: 70%;
    text-align: start;
    @include flex-evenly;
    flex-direction: column;
}

.product-data a{
    background-color: $primary;
    color: $secondary;
    width: 4.5rem;
    padding: 0.5rem;
    margin-left: auto;
}

.product-data a:hover{
    box-shadow: $light-shadow;
}

@media (max-width: 425px) {
    .product-card {
        flex-direction: column;
        justify-content: center;
    }

    .product-card img{
        margin-left: auto;
        margin-right: auto;
    }

    .product-data{
        margin-left: auto;
        margin-right: auto;
    }

    .product-data a{
        margin-left: auto;
        margin-right: auto;
    }
  }